:root { 
    --primary-color: white;
    --secondary-color: linear-gradient(90deg, rgba(152,152,152,1) 8%, rgba(30,193,233,0.9962359943977591) 72%);
    --background-color: #d3d3d3;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Style */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
    background-color: var(--background-color); 
}

/* Header Style */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    background-image: url("../images/blue-fog.png");
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    
}
header h1 {
    margin: 0px;
    padding: 10px;
    font-size: 34px;
}
header a {
    text-decoration: none;
    color: white;
}
/* Navigation Style */
header nav {
    margin: 7px 0;
    
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    font-size: 20px;
    font-weight: lighter;
    padding: 10px 15px;
}
header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
    color: aqua;
    background: rgba(0, 0, 0, 0.500);
}
/* Hero Style */
.hero {
    background-image: url(../images/blue-fog.png);
    background-size: cover;
    height: 100px;
    position: relative;
    background-attachment: fixed;
    background-position: 80%;
}
.hero-head {
    width: 250px;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 60px;
    color: white;
}
/* Contain, Section Title Style */
.flex-row {
    width: 100%;
}
.container-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-title {
    font-size: 45px;
    padding: 20px 40px;
    width: 20%;
    text-align: right;
}
/* About Me Style */
.about-me {
    display: flex;
}
.about-me p {
    line-height: 1.5;
    border-left: 3px solid;
    padding: 40px;
    width: 80%;
}
/* Work Style */
.my-work {
    display: flex;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 40px;
    width: 80%;
    border-left: 3px solid;
}
.container-projects {
    min-height: 100px;
    min-width: 300px;
    border: 5px solid;
    border-color: black;
    position: relative;
}
.container-projects::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: white;
    opacity: .0;
}
.container-projects:hover::after {
    opacity: .5;
}
.figure-text {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 70%;
    text-align: right;
}
.figure-text p {
    position: absolute;
    z-index: 2;
    font-size: 12px;
}
.figure-text a {
    text-decoration: none;
    color: white;  
}
.figure-text a:hover {
    text-shadow: none;
    color: aqua;
    background: rgba(0, 0, 0, 0.500);
}
.project1 {
    grid-column: 1/4;
    grid-row: 1/3;
    background-image: url(../images/run-buddy.png);
}
.project2 {
    background-image: url(../images/horiseon.PNG);
    background-size: cover;
    background-position: left;
}
.project3 {
    background-image: url(../images/java.PNG);
    background-size: cover;
    background-position: left;
}
.project4 {
    background-image: url(../images/taskinator.PNG);
    background-size: cover;
}