:root { 
    --primary-color: white;
    --secondary-color: linear-gradient(90deg, rgba(152,152,152,1) 8%, rgba(30,193,233,0.9962359943977591) 72%);
    --background-color: #d3d3d3;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Style */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
    background-color: var(--background-color); 
}

/* Header Style */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    background-image: url("../images/blue-fog.png");
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    
}
header h1 {
    margin: 0px;
    padding: 10px;
    font-size: 34px;
}
header a {
    text-decoration: none;
    color: white;
}
/* Navigation Style */
header nav {
    margin: 7px 0;
    
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    font-size: 20px;
    font-weight: lighter;
    padding: 10px 15px;
}
header nav ul li a:hover {
    border-radius: 15px;
    text-shadow: none;
    color: aqua;
    background: rgba(0, 0, 0, 0.500);
}
/* Hero Style */
.hero {
    background-image: url(../images/blue-fog.png);
    background-size: cover;
    height: 100px;
    position: relative;
    background-attachment: fixed;
    background-position: 80%;
}
.hero-head {
    width: 250px;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 60px;
    color: white;
}
/* Contain, Section Title Style */
.flex-row {
    width: 100%;
}
.container-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-title {
    font-size: 45px;
    padding: 20px 40px;
    width: 20%;
    text-align: right;
}
/* About Me Style */
.about-me {
    display: flex;
}
.about-me p {
    line-height: 1.5;
    border-left: 3px solid rgba(14, 14, 88, 0.651);
    padding: 40px;
    width: 80%;
}
/* Work Style */
.my-work {
    display: flex;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 40px;
    width: 80%;
    border-left: 3px solid rgba(14, 14, 88, 0.651);
}
.container-projects {
    min-height: 100px;
    min-width: 300px;
    border: 5px solid rgba(14, 14, 88, 0.651);
    border-color: rgba(14, 14, 88, 0.651);
    position: relative;
}
.container-projects::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(315deg, #08868f 0%, #d3d3d3 74%);
    opacity: .0;
}
.container-projects:hover::after {
    opacity: .5;
}
.figure-text {
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    text-align: left;
}
.figure-text p {
    position: absolute;
    z-index: 2;
    font-size: 12px;
}
.figure-text a {
    text-decoration: none;
    color: white;  
}
.figure-text a:hover {
    text-shadow: none;
    color: aqua;
    background: rgba(0, 0, 0, 0.500);
}
.project1 {
    grid-column: 1/4;
    grid-row: 1/3;
    background-image: url(../images/run-buddy.png);
}
.project2 {
    background-image: url(../images/horiseon.PNG);
    background-size: cover;
    background-position: left;
}
.project3 {
    background-image: url(../images/java.PNG);
    background-size: cover;
    background-position: left;
}
.project4 {
    background-image: url(../images/taskinator.PNG);
    background-size: cover;
}
/* Contact Style */
.contact-section {
    display: flex;
}
.contact-section li {
    display: inline;
    padding: 80px;
}
.contact-list {
    width: 80%;
    padding: 40px;
    border-left: 3px solid rgba(14, 14, 88, 0.651);
}
.contact-list a:hover {
    text-shadow: 1px skyblue;
    color: aqua;
}
.contact-list-row {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
footer {
    float: right;
}
/* Media Queries for Smaller Devices | Compatibility Style */
@media screen and (max-width: 980px) {

header {
    display: block;
    text-align: center;
}
header h1 {
    width: 100%;
}
header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
.container-project {
    flex-direction: column;
    padding: 20px 40px;
}
.about-me, .my-work, .contact-section {
    display: block;
}
.section-title {
    width: 0;
    padding: 0;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
}
.about-me p {
    width: auto;
}
.container {
    display: block;
    width: auto;
}
.container-projects {
    min-width: 300px;
    min-height: 150px;
}
.contact-section li {
    display: block;
    padding: 10px;
}
        
    
}
@media screen and (max-width: 768px) {
    
.section-title {
    text-align: left;
    font-size: 40px;
}
header {
    padding: 0;
}
header h1 {
    font-size: 30px;
    margin: 0px;
    padding: 5px 10px;
}
header nav ul li a {
    font-size: 20px;
}
.section-title {
    font-size: 30px;
}
} 
@media screen and (max-width: 575px) {
    
header nav ul li a {
    margin-top: 0;
    font-size: 18px;
    flex-wrap: none;
}
.hero {
    height: 50px;
}
.container-project {
    flex-direction: column;
    padding: 10px;
}
.about-me p {
    font-size: 16px;
}
.container-projects {
    min-width: 100%;
}
.figure-text {
    height: auto;
}
.contact-list-row {
    text-decoration: none;
    font-size: 17px;
}
}