:root { 
    --primary-color: white;
    --secondary-color: linear-gradient(90deg, rgba(152,152,152,1) 8%, rgba(30,193,233,0.9962359943977591) 72%);
    --background-color: #d3d3d3;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Style */
body {
    font-family: Heletica, Arial, sans-serif;
    color: var(--secondary-color);
    background: rgb(152,152,152);
    background: linear-gradient(90deg, rgba(152,152,152,1) 40%, rgba(30,193,233,0.9962359943977591) 92%);
}

/* Header Style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}
header h1 {
    margin: 0px;
    padding: 10px;
    font-size: 34px;
}
header a {
    text-decoration: none;
    color: white;
}
/* Navigation Style */
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    font-size: 20px;
    font-weight: lighter;
    margin: 0 10px;
    padding: 1px;
}
header nav ul li a:hover {
    padding: 10px;
    border-radius: 15px;
    text-shadow: none;
    color: aqua;
}